:root {
  /* Colors */
  --bg-primary: #F4EFE5;
  --bg-secondary: #E35336;
  --text-primary: #05081C;
  --text-secondary: #984959;
  --accent: #305CDE;

  /* Typography */
  --font-sans: 'Montserrat', system-ui, sans-serif;

  --display-1: 3rem;
  --heading-1: 2.25rem;
  --heading-2: 1.5rem;
  --heading-3: 1.25rem;
  --heading-4: 1rem;
  --body: 1rem;
  --small: 0.75rem;
  --button: 0.875rem;
}
