.display-1 {
  font-size: var(--display-1);
  font-weight: 700;
  line-height: 1.2;
}

.display-blue {
  font-size: var(--display-1);
  font-weight: 700;
  line-height: 1.2;
  color: var(--accent);
}

.heading-1 {
  font-size: var(--heading-1);
  font-weight: 700;
}

.heading-2 {
  font-size: var(--heading-2);
  font-weight: 700;
}

.heading-3 {
  font-size: var(--heading-3);
  font-weight: 700;
}

.heading-4 {
  font-size: var(--heading-4);
  font-weight: 625;
  margin-bottom: 0.5rem;
}

.nav-bar {
  font-size: var(--heading-4);
  font-weight: 625;
  margin-bottom: 0.5rem;
  color: var(--accent);
}

.body {
  font-size: var(--body);
  line-height: 1.6;
  font-family: 'Nuosu SIL', sans-serif;
  margin-bottom: 1rem;
  white-space: pre-line;
}

.small {
  font-size: var(--small);
}

.link {
  color: var(--accent);
  text-decoration: underline;
}
