.horizontal-container {
  display: flex;
  justify-content: flex-start;  /* items align left initially */
  min-height: 100vh;
  padding: 0 3.6rem;
}


.item.left-right {
  display: flex;
  flex-direction: column;
  justify-content: center;         /* vertically center left/right text */
  white-space: normal;
  max-width: 350px;
}

.item.center-photo {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;       /* push photo to bottom */
}
