.vertical-container {
  display: flex;
  flex-direction: column;
  gap: 20px; 
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.larger-gap {
  gap: 40px;
  margin-top: 50px;
}

.project-page {
  padding-left: 200px;
  padding-right: 200px;
  gap: 40px;
}

.description-container {
  display: flex;
  flex-direction: column;
  gap: 15px; 
  justify-content: center;
  align-items: flex-start;
  max-width: 500px;
}

.horizontal-container {
  display: flex;         /* Enables flexbox layout */
  flex-direction: row;   /* Horizontal layout */
  gap: 50px;            /* Space between items */
  align-items: center; /* Align items to the top */
}
